<div class="perfect-for-section" style="background-color: #fafafa; padding: 40px 0;">
  <div class="container" style="display: flex; flex-direction: column; align-items: center;">
          <h3 style="font-size: 4rem; color: black; font-weight: bold; margin-bottom: 20px; text-align: center;">Perfect For</h3>

   <div class="grid grid--1-col grid--md-2-col grid--lg-2-col" style="display: flex; justify-content: center; width: 100%; max-width: 1200px; gap: 20px;">

      <!-- Image Section (Left Side) -->
      <div class="image-section" style="text-align: center; margin-bottom: 20px; ">
        <img src="{{ 'images/perfect-for.jpg' | asset_url }}" alt="Perfect For Image" style="width: 100%; max-width: 400px; height: auto; border-radius: 7px;">
      </div>
      <!-- List Section (Right Side, divided into two sub-columns) -->
      <div class="list-section" style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px;">
        <!-- First Column (6 items) -->
        <div class="list-column">
          <ul class="name-list" style="list-style-type: none; padding-left: 0;">
            <li style="display: flex; align-items: center; margin-bottom: 10px;">
             <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 48 48">
<path fill="#1f7138" d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path><path fill="#edf2ec" d="M34.586,14.586l-13.57,13.586l-5.602-5.586l-2.828,2.828l8.434,8.414l16.395-16.414L34.586,14.586z"></path>
</svg>
              <span style="font-size: 2rem; color: #333;">Diesel</span>
            </li>
            <li style="display: flex; align-items: center; margin-bottom: 10px;">
             <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 48 48">
<path fill="#1f7138" d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path><path fill="#edf2ec" d="M34.586,14.586l-13.57,13.586l-5.602-5.586l-2.828,2.828l8.434,8.414l16.395-16.414L34.586,14.586z"></path>
</svg>
              <span style="font-size: 2rem; color: #333;">Power Steering</span>
            </li>
            <li style="display: flex; align-items: center; margin-bottom: 10px;">
             <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 48 48">
<path fill="#1f7138" d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path><path fill="#edf2ec" d="M34.586,14.586l-13.57,13.586l-5.602-5.586l-2.828,2.828l8.434,8.414l16.395-16.414L34.586,14.586z"></path>
</svg>
              <span style="font-size: 2rem; color: #333;">Gasoline</span>
            </li>
            <li style="display: flex; align-items: center; margin-bottom: 10px;">
             <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 48 48">
<path fill="#1f7138" d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path><path fill="#edf2ec" d="M34.586,14.586l-13.57,13.586l-5.602-5.586l-2.828,2.828l8.434,8.414l16.395-16.414L34.586,14.586z"></path>
</svg>
              <span style="font-size: 2rem; color: #333;">Fluids</span>
            </li>
            <li style="display: flex; align-items: center; margin-bottom: 10px;">
             <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 48 48">
<path fill="#1f7138" d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path><path fill="#edf2ec" d="M34.586,14.586l-13.57,13.586l-5.602-5.586l-2.828,2.828l8.434,8.414l16.395-16.414L34.586,14.586z"></path>
</svg>
              <span style="font-size: 2rem; color: #333;">Motor Oil</span>
            </li>
            <li style="display: flex; align-items: center; margin-bottom: 10px;">
             <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 48 48">
<path fill="#1f7138" d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path><path fill="#edf2ec" d="M34.586,14.586l-13.57,13.586l-5.602-5.586l-2.828,2.828l8.434,8.414l16.395-16.414L34.586,14.586z"></path>
</svg>
              <span style="font-size: 2rem; color: #333;">Crude Oil</span>
            </li>
          </ul>
        </div>
        
        <!-- Second Column (6-12 items) -->
        <div class="list-column">
          <ul class="name-list" style="list-style-type: none; padding-left: 0;">
            <li style="display: flex; align-items: center; margin-bottom: 10px;">
             <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 48 48">
<path fill="#1f7138" d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path><path fill="#edf2ec" d="M34.586,14.586l-13.57,13.586l-5.602-5.586l-2.828,2.828l8.434,8.414l16.395-16.414L34.586,14.586z"></path>
</svg>
              <span style="font-size: 2rem; color: #333;">Heating Oil</span>
            </li>
            <li style="display: flex; align-items: center; margin-bottom: 10px;">
             <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 48 48">
<path fill="#1f7138" d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path><path fill="#edf2ec" d="M34.586,14.586l-13.57,13.586l-5.602-5.586l-2.828,2.828l8.434,8.414l16.395-16.414L34.586,14.586z"></path>
</svg>
              <span style="font-size: 2rem; color: #333;">Jet Fuel</span>
            </li>
            <li style="display: flex; align-items: center; margin-bottom: 10px;">
             <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 48 48">
<path fill="#1f7138" d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path><path fill="#edf2ec" d="M34.586,14.586l-13.57,13.586l-5.602-5.586l-2.828,2.828l8.434,8.414l16.395-16.414L34.586,14.586z"></path>
</svg>
              <span style="font-size: 2rem; color: #333;">Kerosene</span>
            </li>
            <li style="display: flex; align-items: center; margin-bottom: 10px;">
             <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 48 48">
<path fill="#1f7138" d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path><path fill="#edf2ec" d="M34.586,14.586l-13.57,13.586l-5.602-5.586l-2.828,2.828l8.434,8.414l16.395-16.414L34.586,14.586z"></path>
</svg>
              <span style="font-size: 2rem; color: #333;">Cutting Fluid</span>
            </li>
            <li style="display: flex; align-items: center; margin-bottom: 10px;">
             <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 48 48">
<path fill="#1f7138" d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path><path fill="#edf2ec" d="M34.586,14.586l-13.57,13.586l-5.602-5.586l-2.828,2.828l8.434,8.414l16.395-16.414L34.586,14.586z"></path>
</svg>
              <span style="font-size: 2rem; color: #333;">Hydraulic Fluids</span>
            </li>
            <li style="display: flex; align-items: center; margin-bottom: 10px;">
             <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 48 48">
<path fill="#1f7138" d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path><path fill="#edf2ec" d="M34.586,14.586l-13.57,13.586l-5.602-5.586l-2.828,2.828l8.434,8.414l16.395-16.414L34.586,14.586z"></path>
</svg>
              <span style="font-size: 2rem; color: #333;">Condensate</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
  
