<p>
use command = shopify theme dev -e development and make a shopify.theme.toml file at the root of the directory. 
<br>
and add this  [environments.development]
store="https://cleanup-green.myshopify.com/" </p>
{% comment %} 
In Shopify, you cannot create folders within the assets directory to organize your images. You will need to upload each image separately to the assets folder. However, you can upload multiple files at once by selecting them all when you click Choose File during the upload process. This will allow you to upload up to 20 images simultaneously, but they will all be stored directly in the assets directory without any subfolders. 



{% endcomment %}