<p>
use command = shopify theme dev -e development and make a shopify.theme.toml file at the root of the directory. 
<br>
and add this  [environments.development]
store="https://cleanup-green.myshopify.com/" </p>