<link rel="stylesheet" href="{{ 'section-custom-banner-with-title.css' | asset_url }}">

  <section class="about-banner">
    <img 
        src="{{ section.settings.aboutus_image | file_url }}" 
        alt="About Banner"
        class="about-banner-img" width="" height="">
    <div class="banner-overlay">
        <h1 id="about-banner-heading">{{ section.settings.banner_heading }}</h1>
    </div>
  </section>

  {% schema %}
{
  "name": "About us banner",
  "settings": [
    {
      "id": "banner_heading",
      "type": "text",
      "label": "Banner Heading",
      "default": "About Us"
    },
    {
      "type": "text",
      "id": "aboutus_image",
      "label": "Image Filename",
      "default": "about-page-banner.webp"
    },
  ]
}
{% endschema %}