<link rel="stylesheet" href="{{ 'section-custom-banner-with-title.css' | asset_url }}">

  
  <section class="about-banner">
    <img src="{{ 'about-page-banner.webp' | file_url }}" 
      alt="About Banner" 
      width="1600" 
      height="600" 
      class="about-banner-img">
    <h2 class="about-title">About Us</h2>
  </section>