<link rel="stylesheet" href="{{ 'section-about-page.css' | asset_url }}">

<section class="about-section">
  <p>{{ section.settings.about_description1 }}</p>

  <p>{{ section.settings.about_description2 }}</p>
</section>

{% schema %}
{
  "name": "About Section",
  "settings": [
    {
      "id": "about_description1",
      "type": "textarea",
      "label": "About Description 1",
      "default": "Clean Up Green Inc. is a Canadian based company specializing in environmentally friendly solutions for cleaning up oil spills. We provide effective Oil Solutions products that are not only safe for the environment, but significantly reduce the clean up costs typically associated with oil spills. Most remediation options involve a combination of extensive and invasive excavation or an application of a chemical solution that is harmful to both the user and the environment. Both methods result in excessive costs and both require spill cleanup waste to be hauled away and disposed of at waste treatment facilities."
    },
    {
      "id": "about_description2",
      "type": "textarea",
      "label": "About Description 2",
      "default": "Clean-Up Green offers the ground breaking patented Oil Solutions product technology to the Canadian market. This technology redefines how oil spills and stains are cleaned up. With its original designed purpose for remediating the atmosphere from chemical warfare agents, it soon became apparent that this new technology could work equally well on all types of oils. Clean-Up Green offers this technology to you in the form of a powder, for cleaning up standing oil or oil on water, as well as a liquid version for cleaning up stains, small spills, or oil in soil. Contact us today to discover the right solution for you."
    }
  ],
  "presets": [
    {
      "name": "About Section"
    }
  ]
}
{% endschema %}
