<div class="comparison-section">
    <h2>See the difference</h2>
    <div class="images-section">
        <div class="image-container">
            <img
                src="{{ 'service-comparison-1.webp' | file_url }}"
                alt="Image of crew cleaning a spill"
                width="280"
                height="auto"
                style="max-width: 100%; height: auto;"
            >
            <h3 class="text-overlay">Before</h3>
        </div>
        <div class="image-container">
            <img
                src="{{ 'service-comparison-2.webp' | file_url }}"
                alt="Image of a oil-free concrete floor"
                width="280"
                height="auto"
                style="max-width: 100%; height: auto;"
            >
            <h3 class="text-overlay">After</h3>
        </div>
    </div>
</div>

