{{ 'section-custom-form.css' | asset_url | stylesheet_tag }}


<section class="contact-banner">
  <img src="{{ 'contact-bg.webp' | file_url }}" 
    alt="Contact Banner" 
    width="1600" 
    height="600" 
    class="contact-banner-img">
  <h2 class="contact-title">Contact</h2>
</section>
