{% schema %}
{
  "name": "Custom Navigation",
  "settings": [],
  "blocks": [
    {
      "type": "link_list",
      "name": "Navigation Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Navigation",
      "blocks": [
        {
          "type": "link_list"
        }
      ]
    }
  ]
}
{% endschema %}

{%- for block in section.blocks -%}
  {%- if block.type == 'link_list' -%}
    {%- if block.settings.menu != blank -%}
      {%- assign menu = linklists[block.settings.menu] -%}
      {%- if menu != blank -%}
        <ul class="custom-footer footer-block__details-content list-unstyled">
          {%- for link in menu.links -%}
            <li class="footer-links">
              <a
                href="{{ link.url }}"
                class=" link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
              >
                {{ link.title | escape }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}