{% schema %}
{
  "name": "Custom Footer",
  "settings": [],
  "blocks": [
    {
      "type": "link_list",
      "name": "Navigation Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Footer",
      "blocks": [
        {
          "type": "link_list"
        }
      ]
    }
  ]
}
{% endschema %}

<section class="footer" id="shopify-section-footer" >
  <div class="custom-footer">
    <div class="footer-logo">
      <img src="{{ 'clean-up-green-logo_1.png' | file_url }}" alt="Clean-Up Green Logo" />
    </div>
  
    {%- for block in section.blocks -%}
      {%- if block.type == 'link_list' and block.settings.menu != blank -%}
        {%- assign menu = linklists[block.settings.menu] -%}
        {%- if menu != blank -%}
          <ul class="footer-links">
            {%- for link in menu.links -%}
              <li>
                <a
                  href="{{ link.url }}"
                  class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
                >
                  {{ link.title | escape }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  
    <div class="footer-contact">
      <div>
        <p>
        {% render 'email-icon-svg' %}
            <a href="mailto:inquiries@cleanupgreen.ca">inquiries@cleanupgreen.ca</a>
        </p>
        <p>
          {% render 'phone-icon-svg' %}
             <a href="tel:7805420486">(780) 542-0486</a>
        </p>
      </div>
      <div>
        <p>
          {% render 'location-pin-icon-svg' %}
        
            Clean-Up Green Inc.<br>
          36, 85230 RR 25<br>
          Parkland County, AB<br>
          T7Y 2M2
        </p>
        </div>
      
    </div>
  
  </div>
  <hr class="footer-divider">
  
  <p class="footer-copyright">
    &copy; All copyrights belong to Clean-Up Green 2025
  </p>
</section>


