  <section class="footprint-banner">
    <img src="{{ 'footprint-bg.webp' | file_url }}" 
      alt="footprint Banner" 
      width="1600" 
      height="600" 
      class="footprint-banner-img">
    <h2 class="footprint-title">Our Footprint</h2>
  </section>

  {% comment %} the css file is same as section-custom-form.css {% endcomment %}