{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}
{{ 'custom-image-with-text.css' | asset_url | stylesheet_tag }}



<div class="image-with-text">
  <div class="image-with-text__grid">
   
    <div class="image-with-text__text-item">
      <div class="image-with-text__content">
        <h2 class="industrial-title">Oil Spills Happen</h2>
        <p>Oil spills are an inevitable part of the industrial sector. Clean-Up Green is the safe effective way of permanently cleaning all types of spills. Clean-Up Green will save you time and expensive cleanup costs.</p>
        <a href="/contact">View Products</a>
      </div>
    </div>
    <div class="image-with-text__media-item">
      <div class="image-with-text__media">
        <img src="{{ 'home-banner.webp' | file_url }}" alt="Home Banner" class="home-banner-img">
      </div>
    </div>
  </div>
</div>