{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}
{{ 'custom-image-with-text.css' | asset_url | stylesheet_tag }}



<div class="image-with-text">
  <div class="image-with-text__grid">
   
    <div class="image-with-text__text-item">
      <div class="image-with-text__content">
        <h2 class="industrial-title">Clean an Oil Spill in Soil</h2>
        <p>Spills in soils can be quite problematic as they create toxic conditions and can be very tricky to clean with conventional methods. Spills in soil are common in the agricultural sector and the oil and gas industry. The following highlights best practices for cleaning oil from gravel, sand, and soil..</p>
        <a href="/contact">Buy OS Powder </a>
      </div>
    </div>
    <div class="image-with-text__media-item">
      <div class="image-with-text__media">
        <img src="{{ 'industry-bg.webp' | file_url }}" alt="industrial Banner" class="industrial-banner-img">
      </div>
    </div>
  </div>
</div>
