{% schema %}
{
  "name": "metafield-descriptions",
  "settings": []
}
{% endschema %}

<div class="metafield-descriptions">
    <h2>Product Details</h2>
    {% if product.metafields.custom.long_description %}
      <div class="long-description">
        <h3>Description</h3>
        <p>{{ product.metafields.custom.long_description }}</p>
      </div>
    {% endif %}
  
    {% if product.metafields.custom.product_features %}
      <div class="product-features">
        <h3>Features</h3>
        <p>{{ product.metafields.custom.product_features }}</p>
      </div>
    {% endif %}
  
    {% if product.metafields.custom.cleans_up_list %}
      <div class="cleans-up-list">
        <h3>Cleans Up</h3>
        <p>{{ product.metafields.custom.cleans_up_list }}</p>
      </div>
    {% endif %}
  </div>