<div class="offer-service">
    <h2>Services that we offer</h2>
    <ul>
      <li>Parking lot and parkade oil stain removal</li>
      <li>Driveway oil stain removal</li>
      <li>Farm ranch oil stain cleanup</li>
      <li>Gas Pump island stain removal services</li>
    </ul>
  </div>