<link rel="stylesheet" href="{{ 'section-custom-banner-with-title.css' | asset_url }}">


  <section class="service-banner">
    <img src="{{ 'services-bg.webp' | file_url }}" 
      alt="Services Page Banner" 
      width="1600" 
      height="900" 
      class="services-banner-img">
    <h1 class="service-title">Services</h1>
  </section>