<link rel="stylesheet" href="{{ 'section-testimonials.css' | asset_url }}">

<section class="section testimonials">
  <div class="testimonials-wrapper">
    <div class="testimonials-content">
      <h3 class="text-center">Testimonials</h3>
      <div class="testimonial-container">
        <div class="testimonial dark-bg">
          <div class="testimonial-content light-text">
            <p class="testimonial-text">
              <svg width="31" height="31" viewBox="0 0 31 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.3939 2.72168C7.90063 3.10768 0.00434 3.98472 0 14.743V28.2789H12.258V13.7965H8.18777C7.92993 9.92944 11.1143 8.9309 14.5771 8.1644L13.3939 2.72168ZM29.8168 2.72168C24.3235 3.10768 16.4272 3.98475 16.4229 14.743V28.2789H28.6809V13.7965H24.6107C24.3528 9.92944 27.5372 8.9309 31 8.1644L29.8168 2.72168Z" fill="#FAFAFA"/>
                </svg>
                
              I am very impressed by the product and would definitely recommend that it be used for hydrocarbon spills...there are time and huge cost savings by having this product in your tool box.
            </p>
            <p class="testimonial-author">G. - Canadian Environmental Practitioner for 28 years</p>
          </div>
        </div>
        <div class="testimonial green-bg">
          <div class="testimonial-content dark-text">
            <p class="testimonial-text">
              <svg width="31" height="31" viewBox="0 0 31 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.3939 2.72168C7.90063 3.10768 0.00434 3.98472 0 14.743V28.2789H12.258V13.7965H8.18777C7.92993 9.92944 11.1143 8.9309 14.5771 8.1644L13.3939 2.72168ZM29.8168 2.72168C24.3235 3.10768 16.4272 3.98475 16.4229 14.743V28.2789H28.6809V13.7965H24.6107C24.3528 9.92944 27.5372 8.9309 31 8.1644L29.8168 2.72168Z" fill="#111"/>
                </svg>
                
              We at Wildlife Control Services have found this product instrumental with our services as we work with the environment. We strongly recommend this product when dealing with any petroleum concerns.
            </p>
            <p class="testimonial-author">
              Robert MacDonald - Wildlife Control Services
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

