<link rel="stylesheet" href="{{ 'section-testimonials.css' | asset_url }}">
<section class="section testimonials">
  <div class="testimonials-wrapper">
    <div class="testimonials-content">
      <h3 class="text-center">Testimonials</h3>
      <div class="testimonial-container">
        <div class="testimonial dark-bg">
          <div class="testimonial-content light-text">
            <p class="testimonial-text">
              "I am very impressed by the product and would definitely recommend that it be used for hydrocarbon spills...there are time and huge cost savings by having this product in your tool box."
            </p>
            <p class="testimonial-author">G. - Canadian Environmental Practitioner for 28 years</p>
          </div>
        </div>
        <div class="testimonial green-bg">
          <div class="testimonial-content dark-text">
            <p class="testimonial-text">
              "We at Wildlife Control Services have found this product instrumental with our services as we work with the environment. We strongly recommend this product when dealing with any petroleum concerns."
            </p>
            <p class="testimonial-author">
              Robert MacDonald - Wildlife Control Services
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

