<h2>How do you clean up a spill quickly and effectively?</h2>

<h3>Traditional Remediation</h3>
<ul>
  <li><strong>Sorbent Materials:</strong> Only soaks up the mess but does not encapsulate the hydrocarbons.</li>
  <li><strong>Not Safe For Landfill Disposal:</strong> Most waste is toxic and must still be disposed of using a Hydrovac and cleaning facility.</li>
  <li><strong>Expensive Disposals:</strong> Must be disposed of in an approved remediation facility. Costs up to $800 per 55-gal drum.</li>
  <li><strong>Costs Time:</strong> Cleanup time, including arranging transport to a remediation facility, is time-consuming.</li>
</ul>

<h3>Clean-Up Green Remediation</h3>
<ul>
  <li><strong>Instant Encapsulation:</strong> Permanently encapsulates the hydrocarbons. Will not leach over time.</li>
  <li><strong>DSL Listed Landfill Safe:</strong> No Hydrovac needed! Safe for landfill disposal in both Canada and the US.</li>
  <li><strong>Avoided Costs:</strong> Avoid up to $800 per 55-gal drum in disposal fees.</li>
  <li><strong>Save Time:</strong> Save on clean-up time. Easy to use and easy to dispose of.</li>
</ul>
