/* Styling is for both mobile and desktop */

:root {
    --inputs-radius: 20px !important;
}

.mobile-search {
  display: block;
}

.desktop-search {
  display: none;
}

@media only screen and (max-width: 769px) {
  predictive-search[open] .predictive-search {
        position: absolute;
        min-width: 768px;
        left: -768px;
        transform: translateX(50%);
  }          
}

@media only screen and (min-width: 768px) {
  .mobile-search {
    display: none;
  }

  .desktop-search {
    display: block;
  }
}