.main-heading{
 
    color: var(--color-heading-deep-green);
    font-weight: 700;
    font-size: 6rem;
}
.heading-two{
  color: var(--color-heading-deep-green);
  font-weight: 700;
  font-size: clamp(2rem, 3vw, 4rem);
  
}
.h3{

}
.h4{

}