header {
    background-color: #1C2324;
    display: flex;
    flex-direction: column;
}

.header {
    /* margin: unset; */
    margin: 0 auto;
}

.header__heading,
.header__heading-logo-wrapper {
    display: flex;
}

.header__inline-menu {
    font-size: 1rem;
}

.header__inline-menu a:hover {
    text-decoration: underline #668A55;
}