/* Typography Styles */
.benefits-text h2 {
    color: white !important;
    padding-bottom: 24px;
}

.benefits-list ul li,
.benefits-text p {
    color: white;
}

/* Layout Styles */
.benefits-text {
    padding: 0 2rem;
}

.benefits-list ul li {
    padding-bottom: 1rem;
}

.benefits-section {
    background-color: var(--color-secondary-medium-green);
    margin-top: 8rem;
    /* padding: 24px; */
}

.benefits-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
}

.benefits-text,
.benefits-lists {
    grid-column: 1 / -1;
}


.benefits-lists {
  background-image: url('https://cdn.shopify.com/s/files/1/0903/3492/1069/files/industrial-benefits-bg.webp?v=1742769211'); 
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat;
  align-content: center;  
}

.overlay-color {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(57, 97, 41, 0.8);
    padding: 24px;
}

.benefits-list ul {
    list-style: none;
    margin: 0 auto;
}

/* Media Queries */
@media (min-width: 735px) {
    .benefits-text{
        grid-column: 1 / 7;
        padding: 4rem 6rem;
    }

    .benefits-lists {
        grid-column: 7 / 13;
    }

    div.overlay-color {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
