/* Offer Service Styling */

.offer-service {
    padding: 1.875rem 1rem;
    background-color: #CFDCC9;
}

.offer-service h2,
.comparison-section h2 {
    padding: 1.875rem 0;
    margin: 0 auto;
    font-size: 2.5rem;
    font-weight: bold;
    color: #1B3B09;
}

.service-list {
    padding: 0px;
    list-style-type: none;
}

.service-list li {
    align-items: center;
    display: flex;
    gap: 1rem;
}

.service-list svg {
    flex-shrink: 0;
    height: 24px;
    max-height: 24px;
    width: 24px;
  }
  
  /* Comparison Section */

.comparison-section h2 {
      text-align: center;
  }

.images-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    border-radius: 1rem;
    min-width: 17.5rem;

}

.text-overlay {
    position: absolute;
    top: 77%;
    left: 36%;
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
    background-color: rgba(28, 35, 36, 0.7) ;
    padding: 10px 20px;
    border-radius: 16px;
}

/* Styles for tablets */
/* @media screen and (min-width: 750px) and (max-width: 989px) { 

} */


/* Styles for desktops and larger screens */
@media screen and (min-width: 990px) { 
    .service-page-content {
        display: flex;
        justify-content: space-around;
        gap: 2rem;
    }

    .images-section {
        display: flex;
        flex-wrap: nowrap;
    }

    .text-overlay {
        top: 70%;
        left: 35%;
        color: white;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
        background-color: rgba(28, 35, 36, 0.7) ;
        padding: 10px 20px;
        border-radius: 16px;
    }
}