.about-section-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
  padding: 3rem 2rem ;
  max-width: 1720px;
  margin: 0 auto;
}

.about-section-content p:first-of-type {
  grid-column: 3 / 7;
}

.about-section-content p:last-of-type {
  grid-column: 7 / 11;
}

@media (max-width: 768px) {
  .about-section-content p:first-of-type,
  .about-section-content p:last-of-type {
    grid-column: 1 / -1;
  }
}

/* Styling for footprint section */
.footprint-section h2 {
  padding-bottom: 24px;
}

.footprint-image {
  flex-shrink: 0;
}

.footprint-image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.footprint-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.footprint-image {
  grid-column: 1 / 7;
}

.footprint-content {
  grid-column: 7 / 14;
}

@media (max-width: 968px) {
  .footprint-image,
  .footprint-content {
    grid-column: 1 / -1;
  }

}
