/* form css */
.custom-contact-form, .contact-info {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
.form-heading{
  margin-bottom: 2rem;
}
.custom-contact-form .form-group {
  margin-bottom: 20px;
}

.custom-contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.custom-contact-form input[type="text"],
.custom-contact-form input[type="email"],
.custom-contact-form input[type="tel"],
.custom-contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.custom-contact-form textarea {
  resize: vertical;
}

/* .custom-contact-form .form-error {
  color: red;
  margin-top: 5px;
} */
.form-error {
  color: red; /* Text color */
  background-color: #fff3f3; /* Light red background */
  padding: 10px; /* Space around the text */
  border: 1px solid red; /* Border around the error */
  border-radius: 5px; /* Rounded corners */
  font-size: 14px; /* Font size */
  margin-top: 5px; /* Space above the error */
}

.custom-contact-form .name-fields {
  display: flex;
  gap: 15px;
}

.custom-contact-form .name-fields .form-group {
  flex: 1;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  background: #ededed;
  max-width: 1200px; 
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;

}
.button-rounded{
  gap: 10rem;
}
.custom-contact-form,
.contact-info {
  flex: 1 1 45%; 
  max-width: 500px;
}

/* styling contact info */
.contact-info {
  background-color: var(--color-secondary-medium-green);
  color: white;
  border-radius: 12px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: auto 0;
  width: 100%;
}


.contact-info a{
  text-decoration: none;
  color: aliceblue;
}
.contact-info svg {
  margin-right: 8px;
}
.address {
  margin-left:3.1rem;
  display: block;
}
/* the phone icon was not aligned with the text, idk why */
.contact-phone {
  display: inline-flex;
  align-items: flex-end;
}

.contact-phone svg
 ,.contact-phone a {
  vertical-align: bottom; 
}



/* Mobile styling */
@media (max-width: 767px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .custom-contact-form,
  .contact-info {
    width: 100%;
    max-width: 400px;
  }

  .contact-info {
    padding: 30px;
    
  }

  .contact-info p {
    text-align: left;
  }
}
