.about-section {
  display: flex;
  gap: 2.5rem;
  max-width: 80%;
  line-height: 1.6;
  margin: 0 auto;
  padding: 80px 10px;
  font-size: 20px;
}

@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    align-items: center;
    text-align: left;
  }
}

.footprint-image {
  max-width: 50%; 
  flex-shrink: 0;
}

.footprint-image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.footprint-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 60px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.footprint-content {
  max-width: 500px;
}

.footprint-content h2{
  font-weight: bold;
  margin-bottom: 24px;
}

@media (max-width: 1100px) {
  .footprint-section {
    padding: 50px 20px;
  }
}

@media (max-width: 968px) {
  .footprint-section {
    flex-direction: column;
    text-align: center;
  }

  .footprint-image {
    max-width: 90%;
  }

  .footprint-content {
    max-width: 90%;
  }
}
