


/* banner css */
.contact-banner , .footprint-banner, .about-banner{
  position: relative;
  width: 100%;
  max-width: 2600px;
  margin: 0 auto;
  /* width="1600" 
  height="600"  */
}

.contact-banner-img, .footprint-banner-img, .about-banner-img {
  width: 100%;
  height: auto;
  display: block;
}

.contact-title, .footprint-title , .about-title{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  background-color: rgba(28, 35, 36, 0.7) ;
  padding: 10px 20px;
  border-radius: 16px;
  
}