.product-description-section {
  background-color: var(--color-accent-deep-teal);
  display: flex;
  gap: 3rem;
  padding: 5rem 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Ensures they wrap on smaller screens */
}

.product-description-section, .product-description-section h2 {
  color: white !important;
}

.product-description-section h2 {
  flex: 1 1 40%; /* Allow it to grow and shrink, but take up 30% of the space */
  min-width: 200px; /* Prevents it from shrinking too small */
}

.product-description-section ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0;
  margin: 0;
  flex: 1 1 50%; /* Allow it to grow and shrink, taking up 60% of the space */
}

.product-description-section > * {
  max-width: 1200px;
  margin: 0 auto;
}

/* queries */
@media (max-width: 800px) {
  .product-description-section {
    flex-direction: column;
    gap: 2rem;
  }

  .product-description-section h2,
  .product-description-section ul {
    flex: none; 
    width: 100%; 
    padding-left: 1rem;
  }
}


