/* INCOMPLETE-simran */

.perfect-for-section {
  background-color: #fafafa;
  padding: 48px 16px;
  margin-top: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perfect-for-heading {
  font-size: 4rem;
  color: black;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.perfect-for-section .grid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  gap: 30px;
  flex-wrap: wrap; 
}

/* .image-section {
  flex: 1 1 25%; 
  min-width: 250px;
} */

.image-section img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 7px;

}

.list-section {
  display: flex;
  flex: 0 1 60%; 
  gap: 10px;
}

.list-column {
  flex: 1;
}

.name-list {
  list-style-type: none;
  padding-left: 0;
}

.name-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.name-list svg {
  width: 30px;
  height: 30px;
}

.name-list span {
  font-size: 2rem;
  color: #333;
  margin-left: 10px;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .grid {
    flex-direction: column;
    align-items: center;
  }

  .list-section {
    flex-direction: column;
    align-items: center;
  }

  .list-column {
    width: 100%;
    text-align: center;
  }
}
