.hero-section {
    margin: 0 auto;
    padding: 30px;
}

.shop-hero-container h1 {
    color: var(--color-heading-deep-green) !important;
    padding: 0;
    margin-bottom: 16px;
}



@media screen and (min-width: 750px) {
    .hero-section {
        max-width: 900px;
    }
}

@media screen and (min-width: 1150px) {
    .hero-section {
        max-width: 1150px;
    }

    .shop-hero-container h1 {
        text-align: left !important;
    }
}