h2.comparison-heading {
  grid-column: 3 / 11;
  font-size: clamp(2.4881rem, 5vw, 3.5rem);
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
  color: var(--color-heading-deep-green);
}

.remediation-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.remediation-box {
  padding: 2rem;
  color: white;
  text-align: left;
}

.traditional__remediation_comparison {
  background-color: var(--color-accent-deep-teal);
  grid-column: 1 / -1;
}

.green__remediation_comparison {
  background-color: var(--color-primary-palest-green);
  color: var(--color-body-text-black);
  grid-column: 1 / -1;
}

.traditional__remediation_comparison p,
.traditional__remediation_comparison h3,
.green__remediation_comparison p,
.green__remediation_comparison h3 {
  text-align: center;
}

.list-item {
  display: flex;
  gap: 1.5rem;
}

.list-item svg {
  padding-top: 0.8rem;
}

.remediation-box h3 {
  font-size: 2.0737rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.remediation-box ul {
  list-style: none;
  padding: 0;
}

.remediation-box li {
  font-size: 16px;
  margin-bottom: 10px;
}

.remediation-box strong {
  font-weight: bold;
}

/* Media Queries */
@media (min-width: 725px) {
  .traditional__remediation_comparison {
    grid-column: 3 / 7;
  }
  
  .green__remediation_comparison {
    grid-column: 7 / 11;
  }

  .remediation-comparison-section {
    padding: 1rem 2rem; 
  }

  .remediation-container {
    gap: 2rem;
  }

  .remediation-box {
    border-radius: 10px;
  }
}

@media (min-width: 768px) {
  h2.comparison-heading{
    text-align: center;
  }
}
