/* Typography Styles */
.cost-comparison-content h2 {
    padding-bottom: 1.5rem;
}

.traditional__cost_comparison h3,
.green__cost_comparison h3 {
    font-size: 33.18px !important;
    font-weight: 600;
}

.traditional__cost_comparison p {
    font-size: 27.65px !important;
    line-height: 28px !important;
    font-weight: 600;
}

.traditional__cost_comparison h3,
.traditional__cost_comparison p {
   color: white !important; 
   text-align: center;
   margin: 0;
   padding: 1rem 0;
}

.green__cost_comparison h3,
.green__cost_comparison p {
    padding: 24px !important;
}

.green__cost_comparison h3,
.green__cost_comparison p,
.green__cost_comparison p.note {
    margin: 0;
    text-align: center;
}

.green__cost_comparison .percentage {
    font-size: 64px !important;
    font-weight: 700 !important;
}

.green__cost_comparison p:first-of-type {
    font-size: 1.7281rem;
    font-weight: 600;
}

/* Layout Styles */
.cost-comparison {
    margin-top: 6rem;
}

.comparison-item {
    align-items: baseline;
    box-shadow: var(--drop-shadow);
}

.text-content,
.comparison-item {
    padding: 24px;
}

.traditional__cost_comparison {
    background-color: var(--color-accent-deep-teal);
}

.green__cost_comparison {
    background-color: var(--color-primary-palest-green);
}

.cost-comparison-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
}

.cost-comparison-content .text-content,
.cost-comparison-content .comparison {
    grid-column: 1 / -1;
}

@media (min-width: 725px) {
    .text-content,
    .comparison-item {
        padding: 4rem 2rem;
    }
    .cost-comparison-content .text-content {
        grid-column: 2 / 5;
    }

    .cost-comparison-content .comparison {
        grid-column: 5 / 12;
    }
}

@media (min-width: 800px) {
    .comparison {
        display: flex;
        gap: 2rem;
    }

    .comparison div {
        width: 50%;
        border-radius: 10px;
    }
}
