.epa_card h3 {
    color: #fff !important;
    text-align: center;     
}

.epa_section {
    display: grid;
    max-width: 1720px;
    margin: 0 auto;
    gap: 2rem;
    padding: 3rem 2rem;
}

.epa_section div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media screen and (min-width: 769px){ 
    .epa_section {
        grid-template-columns: repeat(12, 1fr);
    }

    .epa_section div:first-of-type {
        grid-column: 2 / 7;
    }

    .epa_section div:last-of-type {
        grid-column: 7 / 12;
    }

}

.epa_card {
    background-color: #1c2324;
    color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;     
    height: 100%;             
    padding: 24px;            
}


