.hero-section {
    margin: 60px;
}

.shop-hero-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.shop-hero-container h1 {
    color: var(--color-heading-deep-green) !important;
    padding: 0;
}

.shop-description {
    width: 33%;
}