
{% section 'services-page-banner' %}

<div class="desktop-container">
    {% section 'service-offer-section' %}
    {% section 'comparison-section' %}
</div>

{{ 'section-service-offer-page.css' | asset_url | stylesheet_tag }}