{{ 'section-service-offer-page.css' | asset_url | stylesheet_tag }}

{% section 'services-page-banner' %}

<div>
    {% section 'service-offer-section' %}
    {% section 'comparison-section' %}
</div>