
  <section class="hero-section">
      <div>
          <h1>Shop</h1>
          <p>We know oil spills and stains can be an annoying problem around the house. We offer a complete line of household solutions for stains and spills of all sizes. Great for residential homes, acreages, ranches and farms.</p>
      </div>
  </section>
  
  <section class="content-section">
      <h2>Our Products</h2>
      <div class="card-container">
          <!-- Card 1 -->
          <div class="card">
              <img src="{{ 'product-1.jpg' | asset_url }}" alt="Product 1">
              <h3>Oil Spill Remover</h3>
              <p>Add some description</p>
              <a href="/oil-spill-remover">Shop Now</a>
          </div>
  
          <!-- Card 2 -->
          <div class="card">
              <img src="{{ 'product-2.jpg' | asset_url }}" alt="Product 2">
              <h3>Clean-Up Green OS Liquid</h3>
              <p>Add some description</p>

              <a href="/oil-spill-remover">Shop Now</a>

          </div>
  
          <!-- Card 3 -->
          <div class="card">
              <img src="{{ 'product-3.jpg' | asset_url }}" alt="Product 3">
              <h3>Clean-Up Green Oil Sheen Remover   </h3>
              <p>Add some description</p>
              <a href="/oil-spill-remover">Shop Now</a>

          </div>
      </div>
  </section>
