{% comment %} About Page Template {% endcomment %}

<section id="about-page-banner" aria-labelledby="about-banner-heading">
    {% section 'about-page-banner' %}
</section>

<section id="about-page-text" aria-label="About Clean Up Green Inc.">
  {% section 'about-page-text' %}
</section>

<section id="about-page-footprint" aria-labelledby="about-footprint-heading">
  {% section 'about-page-footprint' %}
</section>

