{% comment %} For starters, this is all of the content fo Industrial page, and us ethis info to fill ur sections and later use 
 JSON to call those functions here {% endcomment %}


<img src="{{ 'industrial-sols.jpg' | file_url }}" 
  alt="Industrial Solutions Banner" 
  width="1600" 
  height="600" 
  style="max-width: 100%; height: auto;">


{% assign title = "Industrial Solutions" %}
<h1>{{ title }}</h1>

<p>
  Oil spills are an inevitable part of the industrial sector. Left unchecked, these spills quickly become time-consuming and costly to clean. Furthermore, the ramifications of the environmental damage caused by a spill can cause unwanted attention and can lead to expensive government fines.
</p>

<a href="/contact">Get a Free Quote</a>

<p>
  Most remediation options involve a combination of extensive and invasive excavation or an application of a chemical solution that is harmful to the user and the environment. Both methods result in excessive costs and both require spill cleanup waste to be hauled away and disposed of at waste treatment facilities.
</p>

<p>
  Clean-Up Green oil solutions technology is the safe, effective way of permanently cleaning all types of spills. Clean-Up Green will save you time and expensive cleanup costs.
</p>

{% comment %} YOU CANN CALL YOUR SECTIONS HERE. {% endcomment %}
{% section 'testimonials' %}
{% section 'traditionals' %}

<h2>Save Time + Money</h2>
<p>Below is a cost comparison of an actual 900L diesel spill in gravel and the clean-up costs associated with it. This spill happened in the summer of 2020 in Alberta.</p>

<h3>Traditional Remediation</h3>
<p><strong>TOTAL Cost:</strong> $21,097.00</p>

<h3>Clean-Up Green Remediation</h3>
<p><strong>TOTAL Cost:</strong> $9,800.00*</p>
<p>*Estimated total cost to clean this spill with Clean-Up Green.</p>
<p>52% Estimated cost savings using Clean-Up Green liquid solution and powder for a comparable spill.</p>

<h2>Who can benefit from Clean-Up Green?</h2>
<p>
  Clean-Up Green oil solutions are ideal for emergency spills of any size. They are also convenient to have on hand as part of your organization’s risk management and quick response.
</p>

<ul>
  <li>Oil & Gas</li>
  <li>Fire Departments</li>
  <li>Municipalities</li>
  <li>Airports & Aviation</li>
  <li>Railroad Maintenance</li>
</ul>

<ul>
  <li>Gas Stations</li>
  <li>Emergency Response</li>
  <li>Environmental Cleanup teams</li>
  <li>Petroleum Transport</li>
  <li>Marinas</li>
  <li>Commercial Fishing</li>
</ul>

<h3>Inquire with our authorized dealers:</h3>
<p>(780) 849-1201</p>
<p>(780) 968-0722</p>

<p>For additional product inquiries and questions, please get in touch with us below.</p>
<a href="/contact">Contact Us</a>
